<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
  integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<!-- dev icons -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/devicon/2.16.0/devicon.min.css"
  integrity="sha512-BlFCHJWngPEHme4TwlEob6dPLfoNaQBTTISPwr4344nxR353w2vgGZ7GiSadbbeR20cJeeM0u1I2lAZuIZ1aOQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<!-- font-awesome -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link rel="stylesheet" href="/css/skill.css" />
 
</head>

<body>
    <%-include("./nav")-%>
<!-- skills -->
    <h1 class="skills-head text-center">My Skills</h1>
  <div class="w-100 skill  container">
  <div class="container text-center  d-flex justify-content-center flex-column ">
   <div class="row  my-3 skill-row">
    <div class="col-md-6  my-3 ">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3 class="text-left">
                        <i class="fa-brands fa-connectdevelop fs-4 my-1"></i> Programming languages
                      </h3>
                      <div class="d-flex   hexagon-icon my-3  ">
                        <span> <i class="devicon-cplusplus-plain colored   m-1"></i></span>
                 
                        <span > <i class="devicon-javascript-plain colored  js   m-1"></i></span>
                 
                        <span><i class="devicon-python-plain colored   m-1"></i></span>
                 
                        <span> <i class="devicon-java-plain-wordmark colored   m-1"></i></span>
                 
                        <span> <i class="devicon-nodejs-plain-wordmark colored   m-1"></i></span>
                       </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6  my-3">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3 class="text-left">
                        <i class="fa-solid fa-laptop-code fs-4 my-1"></i> Web Technologies
                      </h3>
                      <div class="d-flex   hexagon-icon my-3  ">
                        <span>
                            <i class="devicon-html5-plain-wordmark colored m-1"></i>
                          </i></span>
                 
                        <span > <i class="devicon-css3-plain-wordmark colored m-1"></i></span>
                 
                     
                 
                        <span> <i class="devicon-express-original-wordmark colored  m-1"></i></span>
                       
                        
                       </div>
                </div>
            </div>
        </div>
    </div>
    
   </div>

   <!-- frameworks -->
   <div class="row my-3 ">
    <div class="col-md-6  my-3">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3 class="text-left">
                        <i class="fa-solid fa-cubes fs-4 my-1"></i> Web Frameworks
                      </h3>
                      <div class="d-flex   hexagon-icon my-3  ">
                        
                 
                         
                 
                        <span><i class="devicon-bootstrap-plain colored  m-1"></i></span>
                 
                        <span> <i class="devicon-jquery-plain-wordmark colored   m-1"></i></span>
                 
                        
                        <span> <i class="devicon-spring-original-wordmark colored m-1"></i></span>
                        <span> <i class="devicon-hibernate-plain-wordmark colored  m-1"></i></span>
                        <span> <i class="devicon-react-original-wordmark colored  m-1"></i></span>
                        
                       </div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="col-md-6  my-3">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3 class="text-left">
                        <i class="fa-solid fa-database my-1 fs-4"></i> Database Management
                      </h3>
                      <div class="d-flex   hexagon-icon my-3  ">
                        
                 
                         
                 
                        <span><i class="devicon-mysql-plain-wordmark colored m-1"></i></span>
                 
                        <span> <i class="devicon-oracle-original colored   m-1"></i></span>
                 
                        
                        
                        
                       </div>
                </div>
            </div>
        </div>
    </div>
   </div>

   <!-- second row -->
   <div class="row my-3">
    <div class="col-md-6  my-3">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3 class="text-left">
                        <i class="fa-solid fa-screwdriver-wrench my-1 fs-4"></i> Software Tools
                      </h3>
                      <div class="d-flex   hexagon-icon my-3  ">
                        
                        
                        <span> <i class="devicon-eclipse-plain-wordmark colored   m-1"></i></span>
                 
                        <span > <i class="devicon-vscode-plain-wordmark colored  m-1"></i></span>
                 
                        <span><i class="devicon-rstudio-plain colored   m-1"></i></span>
                 
                        <span> <i class="devicon-jupyter-plain-wordmark colored  m-1"></i></span>
                 
            <span><i class="devicon-github-original m-1"></i></span>
          
                       
                       </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6  my-3">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3 class="text-left">
                        <i class="fa-solid fa-pen-nib my-1 fs-4"></i> Graphic Design
                      </h3>
                      <div class="d-flex   hexagon-icon my-3  ">
                       
                        <span> <i class="devicon-photoshop-plain colored  m-1"></i></span>
                 
                       
                       </div>
                </div>
            </div>
        </div>
    </div>
    
   </div>

   
  
    
   </div>
  </div>
</body>
</html>





  
 
 